.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2.title {
  font-size: 35px;
}

.App-link {
  color: #61dafb;
}

.constraint {
  height: 50px;
  border: 1px solid #242424;
}

.constraint input {
  border: none;
}

.X {
  font-size: 18px;
  align-items: flex-end !important;
}

.X .number {
  font-size: 12px;
}

.parameteres-container {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.plain-text {
  border: none !important;
  background: none !important;
  padding: 0 !important;
}
.error-message {
  color: #cc0000;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
